html, body {
    height: 100%;
}

body {
    color: navy;
    font-family: sans-serif;
    text-align: center;
    margin: auto;

    background-attachment: fixed;
    background-color: #F7F7F7;
    background-image: url(https://p.fuwafuwa.moe/bg.php);
    background-position: top left;
    background-repeat: repeat;

    display: flex;
    flex-direction: column;
}

.pomf {
    background-color: #eee7fe;
    width: 25%;
    margin: auto;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px;
    transition: box-shadow 0.2s;
}

@media only screen and (max-width: 992px) {
    .pomf {
        width: 80% !important;
    }
    .pomf2 {
        width: 70% !important;
    }
}

.pomf:hover {
    box-shadow: 1px 1px 5px 2px #BA267D;
}

.pomf2 {
    background-color: #e3d3f8;
    width: 30%;
    margin: auto;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px;
    transition: box-shadow 0.2s;
}

.pomf2:hover {
    box-shadow: 1px 1px 5px 2px #BA267D;
}

.content {
    flex: 1 0 auto;
}

.feet {
    padding: 15px;
    border-top: 1px black solid;
    background-color: #ccbdff;

    flex-shrink: 0;
}

a {
    color: #00998F;
    transition: color 0.1s;
}

a:hover {
    color: #23CDC7
}
#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}
